#platform.team@lge.com	2011.01

comment "LGE Felica selection"

config LGE_FELICA
	bool "Felica driver"
    depends on MACH_LGE_I_BOARD_DCM || MACH_LGE_325_BOARD_DCM
	default n
	---help---
	LGE Felica related change	
