#platform.team@lge.com	2011.01

config MACH_LGE_I_BOARD
       bool "LGE_I_BOARD"
       depends on ARCH_MSM8X60
       default n
       ---help---
         LGE I-project. 

choice
	prompt "LGE board type"
	default MACH_LGE_I_BOARD_ATNT 

config MACH_LGE_I_BOARD_VZW
       bool "LGE_I_BOARD_VZW"
       depends on MACH_LGE_I_BOARD
       ---help---
         LGE I-project for VZW. 

config MACH_LGE_I_BOARD_ATNT
       bool "LGE_I_BOARD_ATNT"
       depends on MACH_LGE_I_BOARD
       ---help---
         LGE I-project for AT&T.

config MACH_LGE_I_BOARD_SKT
       bool "LGE_I_BOARD_SKT"
       depends on MACH_LGE_I_BOARD
       ---help---
         LGE I-project for SKT.         

config MACH_LGE_I_BOARD_LGU
       bool "LGE_I_BOARD_LGU"
       depends on MACH_LGE_I_BOARD
       ---help---
         LGE I-project for LGU.

config MACH_LGE_I_BOARD_DCM
       bool "LGE_I_BOARD_DCM"
       depends on MACH_LGE_I_BOARD
       ---help---
         LGE I-project for DoCoMo.         

config MACH_LGE_IJB_BOARD_SKT
       bool "LGE_IJB_BOARD_SKT"
       depends on MACH_LGE_I_BOARD
       ---help---
         LGE IJB-project for SKT.         

config MACH_LGE_IJB_BOARD_LGU
       bool "LGE_IJB_BOARD_LGU"
       depends on MACH_LGE_I_BOARD
       ---help---
         LGE IJB-project for LGU.         

config MACH_LGE_HDK_8x60
       bool "LGE_I_BOARD_HDK_8x60"
       depends on MACH_LGE_I_BOARD
       ---help---
         LGE I-project for HDK_8x60.

endchoice
 
config MACH_LGE_325_BOARD
       bool "LGE_325_BOARD"
       depends on ARCH_MSM8X60
       default y
       ---help---
         LGE 325-project. 

choice
	prompt "LGE 325 board type"
	default MACH_LGE_325_BOARD_SKT

config MACH_LGE_325_BOARD_VZW
       bool "LGE_325_BOARD_VZW"
#Unblocked by mo2chunghan.lee@lge.com, Fusion2_JB-11/06/2012
       depends on MACH_LGE_325_BOARD
       ---help---
         LGE 325-project for VZW. 

config MACH_LGE_325_BOARD_DCM
       bool "LGE_325_BOARD_DCM"
       depends on MACH_LGE_325_BOARD
       ---help---
         LGE 325-project for DCM. 

config MACH_LGE_325_BOARD_SKT
       bool "LGE_325_BOARD_SKT"
       depends on MACH_LGE_325_BOARD
       ---help---
         LGE 325-project for SKT.

config MACH_LGE_325_BOARD_LGU
       bool "LGE_325_BOARD_LGU"
       depends on MACH_LGE_325_BOARD
       ---help---
         LGE 325-project for LGU.         
endchoice

source "lge/lge_board/batman/batman_vzw/Kconfig"

#added by mo2chunghan.lee@lge.com - Fusion2_JB-11/06/2012 --
config MACH_LGE_120_BOARD
       bool "LGE_120_BOARD"
       depends on ARCH_MSM8X60
       ---help---
         LGE 120 project.

choice
    prompt "LGE 120 board type"
    default MACH_LGE_120_BOARD_SKT

config MACH_LGE_120_BOARD_SKT
       bool "LGE_120_BOARD_SKT"
       depends on MACH_LGE_120_BOARD
       ---help---
         LGE 120-project for SKT.

config MACH_LGE_120_BOARD_KT
       bool "LGE_120_BOARD_KT"
       depends on MACH_LGE_120_BOARD
       ---help---
         LGE 120-project for KT.

endchoice
# ----------------------------------------------------------
